<!doctype html>
<html>
<head>
  <title>Let's play a game!</title>
</head>
    <body>
        <form action="/madlib">
            <h2>Thanks for playing our game! Please choose from the options below.</h2>
            
            <div>Person: <input type="text" name="madlib-person"></div>
            <p></p>
            Adjective:
                <input type="radio" name="madlib-adjective" value="funny">Funny
                <input type="radio" name="madlib-adjective" value="clever">Clever
                <input type="radio" name="madlib-adjective" value="goofy">Goofy
                <input type="radio" name="madlib-adjective" value="philosophical">Philosophical<br>
            <p></p>
            <div>Noun: <input type="text" name="madlib-noun"></div>
            <p></p>
            <div>Color: 
                <select name="madlib-color"></div>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="red">Red</option>
                    <option value="grey">Grey</option>
                </select>
            <p></p>
            <p></p>
            <input type="submit">
        </form>
    
    </body>
</html>