<!doctype html>
<html>
<head>
  <title>Let's play a game!</title>
</head>
    <body>
        <form action="/madlib">
            <h2>Thanks for playing our game! Please choose from the options below.</h2>
            
            <div>Friends Character: <input type="text" name="madlib-friends"></div>
            <p></p>
            Adjective:
                <input type="radio" name="madlib-adjective" value="funny">Funny
                <input type="radio" name="madlib-adjective" value="clever">Clever
                <input type="radio" name="madlib-adjective" value="goofy">Goofy
                <input type="radio" name="madlib-adjective" value="philosophical">Philosophical
                <input type="radio" name="madlib-adjective" value="musical">Musical
                <input type="radio" name="madlib-adjective" value="loud">Loud<br>
            <p></p>
            <div>Noun: <input type="text" name="madlib-noun"></div>
            <p></p>
            <div>Color: 
                <select name="madlib-color"></div>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="red">Red</option>
                    <option value="grey">Grey</option>
                </select>
            <p></p>
            Favorite Celebrity: <input type="text" name="madlib-celebrity">
            <p></p>
            Verb: 
                <input type="checkbox" name="madlib-verb" value="run">Run
                <input type="checkbox" name="madlib-verb" value="walk">Walk
                <input type="checkbox" name="madlib-verb" value="hike">Hike
                <input type="checkbox" name="madlib-verb" value="write">Write
                <input type="checkbox" name="madlib-verb" value="punch">Punch
            <p></p>
            Least Favorite City: <input type="text" name="madlib-city">
            <p></p>
            <input type="submit">
        </form>
    
    </body>
</html>