{% extends "base.html" %}
{% block title %}The Madlibs Game{% endblock %}    
       
{% block content %}
        {% if decision == 1 %}
            <h1>STORY #1</h1>
            {% if len(verb) > 1 %}

            <h2>
            You're hanging out with {{ friends }} from Friends. 
            Everything's going well, but then they have to go to {{ city }},
            which is a {{ adjective }} place. So you choose to {% for verb in verb %}{{ verb }} away
            with {{ celebrity }}, who's wearing a weird {{ color }} {{ noun }}.
            </h2>
            {% endfor %}
            {% endif %}
        {% endif %}

        {% if decision == 2 %}
            <h1>STORY #2</h1>

             <h2>
            {{ friends }} from Friends is your mortal enemy.
            They currently live in {{ city }} and drive a {{ color }} Tesla.
            Their best friend is the {{ adjective }} {{ celebrity }}.
            You wish that {{ celebrity }} was your {{ noun }}.
            </h2>

        {% endif %}

        {% if decision == 3 %}
            <h1>STORY #3</h1>

             <h2>
            {{ friends }} is your hero, and so is {{ celebrity }}.
            Unfortunately, they're planning on moving to {{ city }} and 
            will bring their {{ color }} dogs with them. That is so
            {{ adjective }}. {{ noun }} is now your best friend.
            </h2>

        {% endif %}
{% endblock %}
